html, body {
    background-image: url('../../public/images/app-background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0; 
    padding: 0;
}

.main-body {
    background-color: #383838; 
    height: 100%; 
    margin: 0 auto; 
    width: 65%; 
}

.grid-container {
    display: flex;
    justify-content: center; 
}

.carousel {
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.carousel-item {
    display: flex;
    justify-content: center;
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 10px;
}